* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Georgia, Times, Times New Roman, serif;
}

img {
  width: 100%;
  height: auto;
}

.title img {
  height: 4rem;
  width: 4rem;
}

header {
  background-color: black;
  text-align: center;
  padding: 1rem 2rem;
}

li {
  list-style-type: none;
}

li .fa-solid {
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

nav a:hover {
  color: tomato;
}

header li {
  border: 1px solid rgb(136, 136, 136);
  padding: 0.5rem 1rem;
}

header a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(136, 136, 136);
}

header img {
  width: 20%;
  height: auto;
}

h1 {
  color: tomato;
}

.top-header-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondary-menu {
  display: flex;
}

.secondary-menu li {
  flex: 1;
}

.bottom-header-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-menu {
  display: flex;
}

.social-menu li {
  flex: 1;
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.fa-brands {
  font-size: 1.5rem;
}

article {
  margin-bottom: 2rem;
}

article:not(:last-child):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgb(236, 236, 248);
  font-size: 3rem;
  content: "\f004";
  text-align: center;
  display: block;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.article-container {
  padding: 3.5rem 1rem 1rem 1rem;
}

.box {
  display: grid;
}

.box-title {
  background-color: white;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: start;
  z-index: 2;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem;
  font-size: 1.25rem;
}

.box img {
  grid-column: 1;
  grid-row: 1;
}

article img {
  border-radius: 1rem;
}

article p {
  padding: 0.5rem;
}

.article-meta {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.article-comment {
  display: flex;
}

.article-comments-count {
  margin-left: 0.2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous,
.next {
  color: rgb(136, 136, 136);
  font-weight: bold;
  padding-right: 1rem;
  font-size: 1.2rem;
}
.divider {
  border-left: 2px solid black;
  height: 1rem;
}
.next {
  padding-left: 1rem;
}

/* TODO PAGINATION ARROW */
/* .previous:before {
  font-family: "Font Awesome 5 Free";

  font-weight: 900;
  color: rgb(236, 236, 248);
  content: "\e19f";
} */

footer {
  padding: 3.5rem 1rem 1rem 1rem;
}
.footer-box {
  text-align: center;
}

.footer-box-title {
  padding: 1rem 0 4rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: block;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  height: 3rem;
  text-indent: 0.5rem;
  border: 1px solid rgb(136, 136, 136);
  outline: none;
}

.input-wrapper i {
  border: 1px solid rgb(136, 136, 136);
  font-size: 1.5rem;
  width: 12%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

footer .fa-solid,
footer .fa-regular {
  color: rgb(68, 68, 68);
}

textarea {
  resize: vertical;
  min-height: 13.25rem;
  width: 100%;
  padding: 1rem;
  outline: none;
}

button {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-color: black;
}

form input:focus,
textarea:focus {
  background-color: hotpink;
  border-color: hotpink;
  color: white;
}

form input:focus + .fa-solid,
form input:focus + .fa-regular,
form textarea:focus + .fa-solid {
  color: hotpink;
  border-color: hotpink;
}

/* medium-small */
@media screen and (min-width: 620px) {
  .main-menu {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  .main-menu li {
    flex: 1;
  }

  .secondary-menu {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .bottom-header-nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .secondary-menu li,
  .social-menu li,
  .theme-menu li {
    flex: 0;
  }

  .article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
  }

  article:not(:last-child):after {
    content: none;
  }
}

/* medium */
@media screen and (min-width: 950px) {
  footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  form {
    flex: 1;
  }

  .footer-box {
    background-image: url("https://picsum.photos/1200/1200?random=13");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex: 1;
  }

  .footer-box-title {
    color: white;
  }
}

/* medium-large */
@media screen and (min-width: 1225px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header a {
    font-size: 1rem;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-menu {
    flex-wrap: nowrap;
    align-items: center;
  }

  li .fa-solid,
  li .fa-regular,
  li .fa-brands {
    font-size: 1rem;
  }

  .main-menu,
  .secondary-menu {
    padding-bottom: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .top-header-nav {
    flex-direction: row;
  }

  .bottom-header-nav {
    flex-direction: row;
  }
}

/* large */
@media screen and (min-width: 1600px) {
  .article-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* extra-large */
@media screen and (min-width: 2000px) {
  body {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    align-items: center;
    padding: 0;
    gap: 2rem;
    justify-content: space-between;
  }

  main,
  .article-container {
    padding: 0;
  }

  .article-container {
    margin-top: 8rem;
  }
  header {
    flex-direction: column;
  }

  header a {
    font-size: 1.5rem;
  }

  header li {
    padding: 1rem;
  }

  .title {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .top-header-nav {
    flex-direction: column;
  }

  .bottom-header-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .main-menu {
    flex-wrap: wrap;
  }

  li .fa-solid,
  li .fa-regular,
  li .fa-brands {
    font-size: 1.5rem;
  }

  footer {
    padding: 0;
    flex-direction: column;
    margin-right: 1rem;
  }

  .footer-box {
    padding: 0.5rem;
  }

  .footer-box-title {
    font-size: 1.25rem;
    padding: 0;
  }
}
